.addForm {
  text-align: center;
  .addForm {
    text-decoration: none;
    color: green;
  }
}
.title {
  display: flex;
  justify-content: space-between;
  padding: 0 36px;
  .searchFilter {
    height: 30px;
    align-self: center;
    width: 315px;
    border-radius: 5px;
    margin-right: 0.5rem;
    border-style: groove;
    text-indent: 34px;
    outline: none;
    font-size: 15px;
  }
  .filterSection {
    align-self: center;
    .search {
      position: absolute;
      right: 463px;
      top: 89px;
      color: #0000007a;
    }
    .addNew {
      background: #3169fb;
      font-family: "Rubik", sans-serif;
      font-size: 14px;
      cursor: pointer;
      color: white;
      font-weight: bold;
      width: 127px;
      height: 35px;
    }
  }
}
.highlight {
  display: inline;
  background-color: yellow;
}

.showActions {
  width: 162px;
  background-color: #eaeae8;
  position: absolute;
  top: 232px;
  left: 90px;
  box-shadow: 10px 15px 22px -4px rgba(0, 0, 0, 0.75);
  .actionlist {
    list-style: none;
    padding: 0px 16px;
  }
}
.tableTitle {
  text-align: center;
}

.show {
  display: block;
}
.hide {
  display: none;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
